header nav .head-logo{
    width: 35%;
    padding-left: 3.5%;
}
header nav .nav-menu{
    margin: 0;
    width: 65%;
    padding-right: 5%;
    margin-top: 1.5rem;
}

header nav .nav-menu a{
    margin: 0;
    margin-left: 4rem;
}

main .main-welcome{
    width: 100%;
    height: auto;
    background-color: #132b37;
    background-image: none;
    
}
main .main-welcome-text{
    width: 31.5%;
    margin-left: 3.5%;
    
}

main .main-welcome pre{
    margin-top: 8rem;;
    
}

main .main-welcome-img{
    width: 65%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
main .main-welcome img{
    visibility: visible;
    width: 55rem;
    height: 30rem;
    margin-bottom: 0;
    margin-top: auto;
}